@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html {
    font-size: 20px;
}

:root {
    --primary: #FF42A5;
    --linear: linear-gradient(#F948B2 0%, #8758F1 100%);
}


/* shared styles  */

.primary-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary {
    border: none;
    font-size: .9rem;
    font-weight: 600;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 2.3rem;
    background-color: var(--primary);
}

.section-title {
    font-size: 2.4rem;
    font-weight: 700;
}

.section-para {
    color: #534C64;
    font-size: 18px;
    line-height: 1.5rem;
    margin: 1.2rem 0;
}



/* navbar section styles */
.navbar {
    padding: 1.9rem 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > img {
    margin-right: 1rem;
}

.title-logo {
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
}

.title-word {
   color: var(--primary);
}

.navlinks {
    display: flex;
    align-items: center;
}

.navlinks li {
    list-style: none;
    margin-right: 1.4rem;
}

.navlinks li a, .follow-links > h6 {
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
    font-size: 0.9rem;
}

.follow-links {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: .85rem 1.2rem;
    display: flex;
    align-items: center;
    font-size: 1.55rem;
}

.follow-links .youtube {
    margin: 0 .75rem 0 1rem;
    color: #F61C0D;
    cursor: pointer;
}

.follow-links .tiktok {
    margin: 0 .75rem;
    color: black;
    cursor: pointer;   
}


/* banner section styles */
.banner {
    margin-top: 2rem;
    padding: 0 240px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    background: url("../images/Group\ 14.png") center;
    background-size: cover;
    max-width: 900px;
    max-height: 700px;
    padding: 148px 300px 148px 248px;
}

.banner-title {
    font-size: 2.4rem;
    font-weight: 600;
    color:#0B0223;
}

.goat {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1.2rem;
}

.banner-description {
    display: flex;
    align-items: center;
}

.banner-description i {
    margin-right: .5rem;
    font-size: 20px;
    line-height: 2rem;
    color: #3C354F;
}

.banner-btn {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    /* justify-content: space-between; */
}

.btn-1 {
    align-self: flex-start;
}

.btn-2 {
    align-self: flex-end;
    background-color: #4EC5F7;
}


/* We Are Gamer section styles */
.container {
    display: flex;
    gap: 2.5rem;
    padding: 2.52rem 12rem;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.container-description {
    text-align: right;
}

.gamer-btn {
    margin: 1.32rem 0;
}

.moral > h4 {
    color: #534C64;
    font-weight: 500;
    font-size: 1.24rem;
    line-height: 2.25rem;
}

.moral b {
    font-size: 1.55rem;
    font-weight: 700;

}


/* Online games styles */
.online-games {
    text-align: center;
    margin: 5.5rem 0;
}


.online-games-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #0B0223;
}

#funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-para {
    padding: 16px 0 30px;
    margin: 0;
}

.games-container {
    display: flex;
    gap: 1.24rem;
    justify-content: center;
}

.game {
    text-align: left;
}

.game > p {
    font-weight: 500;
    font-size: 1rem;
    color: #534C64;
}


/* play-instantly section styles */
.play-instantly {
    display: flex;
    align-items: center;
    padding: 0 12rem 0 22rem;
    margin: 6rem 0;
    gap: 13rem;
}

.play-instant-content {
    text-align: right;
}

.play-title {
    font-size: 2.28rem;
    font-weight: 700;
    line-height: 60px;
}

.play-instantly-img {
    position: relative;
}

.play-instantly-img .hang {
    position: absolute;
    left: -145px;
    bottom: -35px;
}

/* btn-section styles */
.btn-container {
    display: flex;
    padding: 5rem 12rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.btn-content > h6{
    font-size: .8rem;
    font-weight: 600;
    color: #0B0223;
}

.btn-content {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: .8rem 1rem;
    border-radius: 50px;
    background: #FFF;
    cursor: pointer;
    border: 1px solid white;
    transition:  .5s;

}

.btn-content:hover {
    border: 1px solid var(--primary);
    color: var(--primary);
}

.btn-content:hover > h6 {
    color: var(--primary);
}













/* Responsive Media Queries */

/* For Mobile divices */
@media screen and (max-width: 576px) {
    .navbar, .navlinks, .container, .play-instantly {
        flex-direction: column;
        gap: 3rem;
    }

    html {
        font-size: 90%;
    }

    .navbar {
        padding: 4rem 0;
        margin: 0 auto;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 0 2rem;
    }

    .banner-content {
        padding: 4rem 2rem 4rem 5rem;
    }

    .banner-img img, .container-img img, .play-instantly-img img{
        width: 100%;
        margin: 2rem 0;
    }

    .container {
        padding: 2rem;
    }

    .games-container {
        flex-wrap: wrap;
    }

    .game {
        text-align: center;
    }

    .play-instantly {
        padding: 2rem;
    }

    .play-instant-content {
        text-align: center;
    }

    .play-title {
        line-height: 40px;
    }

    .hang {
        width: 100px;
        display: none;
    }

    .btn-container {
        padding: 4rem 0;
        gap: 15px;
    }

    .btn-content {
        padding: 5px 5px;
        gap: 5px;
    }

}